 body {
  background-color: #006494;
}

#return-home-signup {
  float: right;
}

.white-text {
  color: white !important;
}

.return-home-signin {
  float: right;
}
.return-home-finish {
  margin-top: 2em;
  margin-left: 5em;
  padding-left: 3em;
  padding-right: 3em;
}

.login-switchers {
  margin-bottom: 1em;
}

.card-panel {
  max-width: 600px;
  padding: 2em;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* Controls the syle on forms */
.form-signin {
  max-width: 500px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #e8f1f2;
  border: 3px solid rgba(0,0,0,0.1);
  color: black;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

/* controls both the login and the signup*/
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
 margin-bottom: 20px;
}

#loop-description {
  padding: 0 !important;
}

input[type="password"] {
  margin-bottom: 20px;
}

input[name="role"] {
  margin-bottom: 25px;
}


.colorgraph {
  height: 10px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

@media (min-width: 1600px) {

  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding-bottom: 2.2em;
    padding-top: 1.2em;
}

  .login-switchers {
    font-size: 2em;
    margin-bottom: 7.2em;
  }
}

