
.heading-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 6em;
  text-align: center;
  padding-top: 1em;
}

.navbar-fixed nav {
  position: relative !important;
}

.whatisit {
  background-color: #006494;
}

.what-is-it-text {
  padding-top: 2em !important;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #31BEF8;
  font-size: 1.2em;
}

.left-icon {
  padding-left: 2em;
}
.sub-heading-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
}

.brand-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 1em;
}
.homepage {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100vw;
}

.whyusetext {
  display: block;
  text-align:
  float: left;
}
.button-left {
  text-align: right;
  float: right;
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 1em;
  display: inline-block;
  margin: 0.2em;
  padding: 0.24em 4em;
  border: 1px solid white;
  overflow: hidden;
  text-decoration: none;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  text-align: center;
}

.padding-rule {
  padding-top: 1.2em;
}
.padding-rule-less {
  padding-top: 2px;
}

.coverflow__text__39hqd {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 50 !important;
  color: white !important;
}

.fancy-stats {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: #31BEF8;
  font-size: 2em;
  text-align: center;
}

.coverflow__container__1P-xE {
  background: none !important;
}

.stats-explainer {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 0.6em;
  text-align: center;
}

.student-stories-header {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: #F4A657;
  font-size: 0.72em;
  text-align: center;
}

.student-stories-explainer {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 0.72em;
  text-align: center;
}

.button-right {
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: white;
  font-size: 1em;
  display: inline-block;
  margin-left: 4em;
  margin: 0.2em;
  padding: 0.24em 4em;
  border: 1px solid white;
  overflow: hidden;
  text-decoration: none;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  text-align: center;
}

.button:hover {

  box-shadow: 1px 6px 15px rgba(0,0,0,0.2);
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.button-right:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.2);
}
.button-left:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.2);
}

.header-grid-buttons {
  margin-top: 4em;
}
a.brand-logo {
  padding-left: 2em;
  color: white;
}

.border-white {
  border-color: white;
}

nav ul a {
  color: white;
}


.title {
  font-family: 'Raleway', sans-serif;
  color: white;
}
.nav-wrapper {
  border-bottom: 20px;
}

.backGround {
  background-color: #006494;
}


/*Teacher Veiw Styles*/

#questionCreation {
  background-color: #EEF4F9;
  height: 100vh;
}

#questionOption {
  background-color: #EEF4F9;
  height: 100vh;
}

#Sidebar {
  background-color: #4E546C;
  height: 100vh;
}

#startPresBtn {
  margin-left: 30%;
}

.createLink {
  text-align: center;
}

/*super large*/

@media (min-width: 1101px) {
  .row {
    padding-bottom: 1em;
  }

  .backGround {
    background-color: #006494;
  }

  .whatisit {
    background-color: #006494;
    height: 58vh;
    /*background-color: #006494;*/
  }
}

/*Large Screen*/
@media (max-width: 1101px) {
  .backGround {
    background-color: #006494;
  }

  .whatisit {
    background-color: #006494;
    max-height: 42vh;
    /*background-color: #006494;*/
  }
}

/*Large Screen*/
@media (max-width: 993px) {
  .backGround {
    background-color: #006494;
  }

  .whatisit {
    background-color: #006494;
    max-height: 50vh;
    /*background-color: #006494;*/
  }
}

@media (max-width: 832px) {
  .backGround {
    background-color: #006494;
  }

  .whatisit {
    background-color: #006494;
    max-height: 54vh;
    /*background-color: #006494;*/
  }
}



/*mediun Screen*/
@media (max-width: 769px) {
  .whatisit {
    background-color: #006494;
    height: 56vh;
  }
}

/*small screen*/

@media (max-width: 415px) {
  a.brand-logo {
    padding-left: 0;
  }

  .button-left {
    padding: 0.24em 2em 0.2em;
  }

  .button-right {
    padding: 0.24em 2em 0.2em;
  }

  .whatisit {
    background-color: #006494;
    /*background-color: #006494;*/
    height: 56vh;
    width: auto;
  }
}




/*iphone5*/
@media (max-width: 376px) {
  .row{
    margin-bottom: 1px;
  }

  a.brand-logo {
    padding-left: 0;
  }

  .button-left {
    padding: 0.24em 2em 0.2em;
  }

  .button-right {
    padding: 0.24em 2em 0.2em;
  }

  .whatisit {
    background-color: #006494;
    /*background-color: #006494;*/
    height: 56vh;
    width: auto;
  }
}
/*iphone5*/
@media (max-width: 321px) {

  .row {
      margin-bottom: 20px;
  }

  .row.padding-rule.potato {
    display: none
  }
  a.brand-logo {
    padding-left: 0;
  }

  .button-left {
    padding: 0.24em 2em 0.2em;
  }

  .button-right {
    padding: 0.24em 2em 0.2em;
  }

  .whatisit {
    background-color: #006494;
    /*background-color: #006494;*/
    height: 56vh;
    max-width: 100vw;
  }
}
