.no-padding{
  padding: 0;
}

.teacher-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: black;
  font-size: 6em;
  text-align: center;
  padding-top: 1em;
}

.turn-green {
  background-color: green;
}

.turn-red {
  background-color: red;
}
.submit-button-student {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
  margin: 10px auto 0px auto;
  display: block;

}
.submit-button-student-container {
  text-align: center;
}

#set-mood .thumb-buttons {
  height: 100px;
  width: 100px;
  background-color: red;
  line-height: 0 !important;
}

#set-mood .card {
  padding-top: 6em;
  padding-left: 1.8em;
  align-items: center;
  justify-content: center;
}


#set-mood .thumbs {
  font-size: 56px;
}

#student-view {
  padding: 3vh 3vw 3vh 3vw;
}

.card {
  background-color: #FFFFFF;
}

#student-view {
  background-color: #006494;
  padding: 2em;
  margin-bottom: 0;
  height: 100vh;
}

.question-incoming {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
  text-align: left;
}

.answer {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1em;
  text-align: center;
  padding: 1em 1em 1em 1em;
}

#incoming-question i {
  color: #26A69A;
  vertical-align: text-top;
  display: inline-block;
  margin: 20px auto;
  padding-top: 0.6em;
  padding-right: 0.2em
}

.material-icons.md-72 {
  font-size: 72px;
  float: right;

}

.answer:hover {
  background-color: #E8F1F2;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.2);
}

.answer:checked {
  background-color: red;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.2);
}

.answer.selected {
  background-color: #13293D;
  color: white;
}

.answer.correct {
  background-color:#4DB6AC;
  color: white;
}

#student-multiple-choice {
  text-align: left;
  margin: auto 5% auto 5%;
}

#student-multiple-choice p {
  display: inline-block;
  font-size: 15px;
}

#student-multiple-choice .s2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#student-open-ended a {
  float: right;
}

#student-open-ended {
  width: 100%;
}

#student-multiple-choice .answers {
  margin-top: 0px;
}

#confusedText {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: black;
  font-size: 18px;
}

#mood-explanation-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  color: black;
  font-size: 18px;
}

#ask-question .btn {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;


}

#ask-question-field {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}


/*super large*/

@media (min-width: 1280px) {
  #set-mood .card {
    padding-top: 6em;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width: 1280px) {
  #set-mood .card {
    padding-top: 0;
    padding-left: 3em;
    align-items: center;
    justify-content: center;
  }

  .change-width-mid {
    width: 100% !important;
    padding-top: 0;
  }
}

@media (min-width: 1091px) {
  #incoming-question .question-row {
    font-size: 28px;
  }

  #set-mood .card {
      align-items: center;
      justify-content: center;
  }

  #student-multiple-choice .answers {
    font-size: 20px
  }
}

/*Large Screen*/
@media (max-width: 1090px) {
  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 24px;
  }
  #student-multiple-choice .answers {
    font-size: 22px
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}

/*Large Screen*/
@media (max-width: 993px) {

  #student-multiple-choice {
  }

  #set-mood .card {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .question-incoming {
    font-size: 24px;
  }
  #student-multiple-choice .answers {
    font-size: 22px
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}

@media (max-width: 832px) {
  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 22px;
  }
  #student-multiple-choice .answers {
    font-size: 20px
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}



/*mediun Screen*/
@media (max-width: 769px) {
  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 20px;
  }
  #student-multiple-choice .answers {
    font-size: 18px
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .material-icons.md-72 {
    font-size: 58px;
    float: none;
    color: #26A69A;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }

  #set-mood .thumb-buttons {
      height: 62px;
      width: 62px;
  }

  #set-mood .thumbs {
      font-size: 40px;
  }

  #set-mood .card {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 550px) {
  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 20px;
  }
  .material-icons.md-72 {
    font-size: 50px;
    float: none;
    color: #26A69A;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}

@media (max-width: 480px) {
  #set-mood .thumb-buttons {
      height: 70px;
      width: 70px;
  }

  #set-mood .thumbs {
    font-size: 30px;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}

/*small screen*/

@media (max-width: 450px) {

  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 18px;
  }
  #student-multiple-choice .answers {
    font-size: 16px
  }
  .material-icons.md-72 {
    font-size: 42px;
    float: none;
    color: #26A69A;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}




/*iphone5*/
@media (max-width: 376px) {

  #set-mood .card {
    padding-right: 0;
    padding-left: 0;
    padding-top: 4em;
    align-items: center;
    justify-content: center;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }

  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 18px;
  }
  #student-multiple-choice .answers {
    font-size: 16px;
  }
  #set-mood .thumb-buttons {
      height: 60px;
      width: 60px;
  }
}


/*iphone5*/
@media (max-width: 321px) {

  #student-multiple-choice {
  }
  .question-incoming {
    font-size: 18px;
  }
  #student-multiple-choice .answers {
    font-size: 16px;
  }
  #student-open-ended .row {
    padding-bottom: 1em;
  }
}
