/*Teacher Veiw Styles*/

.teacher-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: black;
  font-weight: bolder;
}

.instruction-text {
  text-align: left;
}

.form-questions {
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #E8f1f2;
  border: 3px solid rgba(0,0,0,0.1);
  color: black;
  }

.radioSelects {
  margin-top: 1%;
}

#Sidebar {
  background-color: #4E546C;
  overflow-y: scroll;
}

#startPresBtn {
  margin-top: 1em;
  margin-bottom: 1em;
}

.createBtn {
  text-align: center;
  color: white;
}

#openEndedForm {
  padding-top: 10%;
}

#openEndedFormBtn {
  margin-top: 10%;
}

#formh5 {
  text-align: center;
}



.backgroundCard {
  background-color: #006494;
  padding: 2em;
  margin-bottom: 0;
  height: 100vh;
}




/*mediun Screen*/
@media (min-width: 770px) {
  .social-buttons {
      padding-top: 1em;
      padding-left: 3em;
  }

}
/*mediun Screen*/
@media (max-width: 769px) {

}

@media (max-width: 660px) {
  .social-buttons {
      padding-left: 3em;
      padding-top: 1em;
      padding-bottom: 2em;
  }

}

@media (max-width: 550px) {

}

@media (max-width: 480px) {
  .social-buttons {
      padding-left: 2em;
      padding-top: 1em;
      padding-bottom: 2em;
  }

}

/*small screen*/

@media (max-width: 450px) {
  .social-buttons {
      padding-left: 1em;
  }

}




/*iphone5*/
@media (max-width: 376px) {

}


/*iphone5*/
@media (max-width: 321px) {

}
