/*Teacher Presentation View Styles*/

.teacherPresentationContainer{
    background-color: #A5A8C5;
    padding: 2em;
}

.teacherPresentationViewMain {
  background-color: #EEF4F9;
  padding: 0px !important;

}

.teacherPresentationViewContent .row{
  padding-bottom: 0px !important;
}

.teacherPresentationViewPanel {
  background-color: #4E546C;
  padding: 0 !important;
}

.TeacherPresentMainCards {
  background-color: white;
}

.teacherPresentationCurrentCard {
    height: 100
    margin: 1em;
}

.teacherPresentationNextCard {
    height: 100%;
    padding: 1em;
}


.TeacherPresentCardPanel{
  padding: .5em 1em 0 1em;

}

.TeacherPresentCurrentUser{
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: #606885;
  padding: 0 !important;
  margin: 0;
}

.TeacherPresentCurrentUser h4 {
  color: white;
  font-weight: bolder;
  padding: .5em 0 .5em 0;
  margin: 0 !important;
}

/*
 *
 *Control Bar Styles
 */
.teacherPresentationControlBar {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.teacherPresentationControlBar h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 50;
  font-weight: bolder;
  color: black;
  text-align: center;
  font-size: 1em;
}

.teacherPresentationControlBar .row {
   margin: 0 !important;
}

.presentorLink {
  font-family: 'Work Sans', sans-serif;
  background-color: #4E546C !important;
  color: white !important;
  margin-top: 0.35em !important;
}

.teacherPresentationTabbedSection{
   background-color: white;
}

.teacherPresentTabs {
    background-color: white !important;
    font-family: 'Work Sans', sans-serif;
    color: black !important;
}

.card-title {
    font-weight: bolder;
   font-family: 'Work Sans', sans-serif;
}

.student-question {
  border: 1px solid black;
  text-align: left;
}

.student-question-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
