/*Teacher Presentation View Styles*/

.teacherPresentationContainer{
  font-family: "Avenir", sans-serif;
  background-color: #006494;
  padding: 2em;
  margin-bottom: 0;
  height: 100vh;
}

.teacherPresentationViewMain {
  background-color: #EEF4F9;
  padding: 0px !important;
  font-weight: normal;
}

.teacherPresentationViewPanel {
  background-color: #4E546C;
  padding: 0 !important;
}

.TeacherPresentMainCards {
  background-color: white;
}

.teacherPresentationCurrentCard {
    height: 100
    margin: 1em;
}

.teacherPresentationNextCard {
    height: 100%;
    padding: 1em;
}


.TeacherPresentCardPanel{
  padding: .5em 1em 0 1em;

}

.TeacherPresentCurrentUser{
  font-weight: bolder;
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 0;
}

.TeacherPresentCurrentUser h4 {
  color: black;
  font-weight: normal;
  padding: .5em 0 .5em 0;
  margin: 0 !important;
}

/*
 *
 *Control Bar Styles
 */
.teacherPresentationControlBar {
  font-family: 'Avenir', sans-serif;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.teacherPresentationControlBar h4 {
  font-family: 'Avenir', sans-serif;
  font-weight: 50;
  font-weight: normal;
  color: black;
  text-align: center;
  font-size: 1em;
}

.teacherPresentationControlBar .row {
   margin: 0 !important;
}

.presentorLink {
  font-family: 'Avenir', sans-serif;
  background-color: #546E7A!important;
  color: white !important;
  margin-top: 0.35em !important;
}

.teacherPresentationTabbedSection .card-title{
   background-color: white;
   font-weight: 900 !important;
}

.teacherPresentTabs {
    background-color: white !important;
    font-family: 'Avenir', sans-serif;
    color: black !important;
}

.special-box-shadow {
  box-shadow: 0 !important;
}

.card-title {
  font-family: 'Avenir', sans-serif;
}

.student-question {
  font-size: 14px !important;
  margin-top: 1.2em;
  padding-top: 0.1em;
  padding-bottom: 0.6em !important;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: left;
}

.p-tag-surrounding-incoming-question {
  height: 50px !important;
  padding-top: 0.72em;
  padding-left: 2em;
}

.teacherPresentationViewContent .row{
  padding-bottom: 0px;
}

.student-question-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1600px) {

  .share-something {
    font-size: 1.32em !important;
  }

  .teacherPresentationViewMain {
    background-color: #EEF4F9;
    margin-top: 8em;
    font-weight: normal;
  }

}
.teacherPresentRightAnswer{

}

.teacherPresentWrongAnswer{
  opacity: 0.2;
  color: black !important;
}


#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.recharts-responsive-container{
  min-height: 250px;
  min-width: 300px;
  width: auto !important;
  height: auto !important;
}

.recharts-legend-wrapper{
  padding-top: 5px;
}
