#teacher-profile-sidebar {
  border-right: 1px solid;
  height: 100vh;
  background-color: white;
  padding: 0 !important;

}

.loop-questions-card {
  max-width: 124vh;
  height: 18vh;
  padding: 2em;
  margin: 0 auto;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.no-padding-on-stats-view {
  padding: 0 !important;
}

.loop-stats-card {
  max-width: 600px;
  padding: 2em;
  margin: 0 auto;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.card-panel-palette-lightblue {
  background-color: #00BCD4;
  color: white;
}

.card-panel-palette-darkblue {
  background-color: #0d47a1;
  color: white;
}
.card-panel-palette-grey {
  background-color:  #546E7A;
  color: white;
}

.top-row-profile {
  background-image: url(../img/office.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 8em;
  margin-bottom: 0;
}


.user-profile-pic {
  margin-top: 10%;
  margin-left: 34%;
  border-radius: 24px 24px 24px 24px;
  height: 4em;
  text-align: center;
}

#teacher-profile-page {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.teacher-profile-loops {
  margin-top: 2em;
}

.loop-stats {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.stat-buttons {
  margin-right: 1em;
  margin-left: 1em;
}

.user-profile-name {
  color: white;
  padding-left: 2em;
}

@media (min-width: 1440px) {
  .user-profile-name {
    display: none;
  }
}

@media (min-width: 900px) {
  .user-profile-name {
    color: white;
    padding-left: 4em;
  }
}




@media (min-width: 683px) {
  .create-new-loop-from-small-screen {
    display: none;
  }
}

@media (max-width: 682px) {
  .created-loops {
    margin-left: 2em !important;
  }

  #teacher-profile-sidebar {
    display: none;
  }
  .create-new-loop-from-small-screen {
    position: fixed;
    top: 0px;
    right: 0px;
  }
}




/*iphone5*/
@media (max-width: 376px) {

}

/*iphone5*/
@media (max-width: 321px) {

}
