html {
  background: linear-gradient(45deg, #5f91b9 0%,#1f325f 100%) no-repeat center center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.brand-logo {
  color: white;
}

nav ul a {
  color: white;
}
